<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="otel_otomasyon.Properties.Settings.otomasyon_otel_VTConnectionString"
            connectionString="Data Source=GOGEBAKAN;Initial Catalog=otomasyon_otel_VT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>